@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('https://fonts.googleapis.com/css?family=Cousine')

$background: #ffffff
$text: #3e3e3e
$em-color: #383838
$accent: #67a6a6
$code: $em-color
$fade: rgba(56, 56, 56, 0.5)

$font: 'Source Sans Pro'

*::-moz-selection
  background: #D4D4D4

*
  margin: 0
  padding: 0

.home

.home .content .title
  font-size: 3.5em
  margin-bottom: 0.8em
  @media (max-width: 1000px)
    font-size: 5.4em

.home .header
  padding: 4% 20% 3% 20%

.nav
  background-color: $em-color
  color: #fff
  height: 100vh
  width: 100vw
  overflow-y: auto
  position: absolute
  top: 0px
  left: inherit

.nav .content .title
  font-size: 3.5em
  margin-bottom: 0.8em
  color: #fff !important
  @media (max-width: 1000px)
    font-size: 5.4em

.nav .header .homebutton
  color: $em-color
  background-color: #fff

.nav .header
  padding: 4% 20% 3% 20%

.header
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 4% 20% 2% 20%
  width: 60%
  @media (max-width: 1000px)
    padding: 6% 12.5% 6% 12.5% !important
    width: 75%

.homebutton
  display: flex
  align-items: center
  justify-content: center
  color: white
  background-color: $em-color
  text-align: center
  width: 50px
  height: 50px
  font-size: 1.8em
  font-weight: 700
  border-radius: 50%
  @media (max-width: 1000px)
    width: 75px
    height: 75px
    font-size: 3.0em

.homebuttontext
  margin-bottom: 0px
  margin-top: 0px
  vertical-align: 50
  line-height: 1px

hr
  border: 0
  border-top: 1px solid rgba(0,0,0,0.1)
  border-bottom: 1px solid #fff
  margin: 2em 0
  width: 60%
  @media (max-width: 1000px)
    width: 90%

.content
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  align-items: center
  @media (max-width: 1000px)
    font-size: 1.4em

.container
  text-align: left
  width: 60%
  @media (max-width: 1000px)
    width: 90%

.postteaser
  width: 60%
  @media (max-width: 1000px)
    width: 90%

.postteaser p
  margin-bottom: 1em

.date
  color: $fade
  letter-spacing: 0.1em
  text-transform: uppercase
  font-size: 0.9em

.content .date
  margin-bottom: 10px

.project-description
  color: $fade
  letter-spacing: 0.06em
  text-transform: uppercase
  font-size: 0.9em

.title
  color: $em-color
  font-weight: 700
  font-size: 2.5em
  line-height: 1.1
  margin-top: 0px
  margin-bottom: 0.2em

body
  color: $text
  font-family: $font
  font-size: 1.25em
  word-wrap: break-word

p
  line-height: 1.5
  margin-bottom: 1.5em

a
  color: inherit
  text-decoration: none

h1
  font-size: 2.5em
  font-weight: 700
  color: $em-color

pre
  margin: 0px 0px 2em
  padding: 12px
  overflow: auto
  text-rendering: optimizelegibility
  border-radius: 5px
  background-color: #333

pre code
  font-size: 1.08em
  line-height: 1.6em
  color: #eee
  margin: 0

code
  font-family: 'Cousine',monospace
  font-size: 0.9em
  color: $code
  margin-left: 0.2em
  margin-right: 0.2em
