@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('https://fonts.googleapis.com/css?family=Cousine')
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css')

$background: #ffffff
$text: #3e3e3e
$em-color: #383838
$accent: #67a6a6
$code: $em-color
$fade: rgba(56, 56, 56, 0.5)

$font: 'Source Sans Pro'

*::-moz-selection
  background: #D4D4D4

*
  margin: 0
  padding: 0

.screen
  height: 100vh
  width: 100vw
  overflow-y: auto
  position: absolute
  top: 0px
  left: inherit

.header
  position: fixed
  top: 0px
  left: 0px
  text-align: center
  // padding: 1% 0% 1% 0%
  background-color: #222
  width: 100%
  z-index: 1

.mobilenav
  color: #fff
  margin: 0
  font-weight: 500
  font-size: 2.5em
  padding: 5% 0%

.navitem
  color: #fff
  margin: 0
  font-weight: 500
  font-size: 0.9em
  padding: 3% 0%

.navrow
    width: 100%
    height: 100%

hr
  border: 0
  border-top: 1px solid rgba(0,0,0,0.1)
  border-bottom: 1px solid #fff
  margin: 2em 0
  width: 60%
  @media (max-width: 1000px)
    width: 90%

.content
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  align-items: center
  @media (max-width: 1000px)
    font-size: 1.4em

.container
  text-align: left
  width: 60%
  @media (max-width: 1000px)
    width: 90%

.postteaser
  width: 60%
  @media (max-width: 1000px)
    width: 90%

.postteaser p
  margin-bottom: 1em

.postteaser .title
  //font-size: 1.5em
  margin-top: 0.2em
  margin-bottom: 0.3em

.date
  color: $fade
  letter-spacing: 0.1em
  text-transform: uppercase
  font-size: 0.9em

.content .date
  margin-bottom: 10px

.projectdescription
  color: $fade
  letter-spacing: 0.06em
  text-transform: uppercase
  font-size: 0.9em

.title
  color: $em-color
  font-weight: 700
  font-size: 1.6em
  line-height: 1.1
  margin-top: 0px
  margin-bottom: 0.2em

body
  color: $text
  font-family: $font
  font-size: 1.25em
  word-wrap: break-word

p
  line-height: 1.5
  margin-bottom: 1.5em

h2
  margin-bottom: 1.5em
  margin-top: 1.5em

h3
  margin-bottom: 1.5em
  margin-top: 1.5em

h4
  margin-bottom: 1.5em
  margin-top: 1.5em

a
  color: inherit
  text-decoration: none

h1
  font-size: 2.5em
  font-weight: 700
  color: $em-color

.content h1
  margin-top: 1em
  margin-bottom: 1em

.content p a
  color: #436693

pre
  margin: 0px 0px 2em
  padding: 12px
  overflow: auto
  text-rendering: optimizelegibility
  border-radius: 5px
  background-color: #333

pre code
  font-size: 1.08em
  line-height: 1.6em
  color: #eee
  margin: 0

code
  font-family: 'Cousine',monospace
  font-size: 0.9em
  color: $code
  margin-left: 0.2em
  margin-right: 0.2em
